.album-container{
    color: white;
    width: 100%;
    max-width: 850px;
    display: flex;
    .yellow-album{
        width:242px;
        height: 280px;
        background-color: #FFF700;
    }
    .dark-album{
        width:242px;
        height: 280px;
        background-color: #2E2A2B;
    }
}