.music-page{
    width: 100%;
    height: 100vh;
    background: url('./../../assets/images/image4.png');
}


.album-container{
    color: white;
    width: 100%;
    max-width: 850px;
    display: flex;
    .yellow-album{
        width:242px;
        height: 280px;
        background-color: #FFF700;
        display: flex;
        align-items: center;
    }
    .info-album{
        width: 349px;
        height: 287px;
        padding: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        ol{
            min-width: 140px;
        }
        li.active{
            color: #fff700;
        }
      
    }
    .dark-album{
        width:242px;
        height: 280px;
        background-color: white;
        display: flex;
        align-items: center;
    }
}

.line{
    width: 210px;
    height: 1px;
    background-color: #fff700;
    margin: 5px 0px 5px 0px;

}
.music-page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.list-items-song{
    font-family: "Old Standard TT";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    margin-top: 4px;


}
