.album-container{
    color: white;
    width: 100%;
    max-width: 850px;
    display: flex;
    .yellow-album{
        width:242px;
        height: 280px;
        background-color: #FFF700;
    }
    .info-album{
        width: 349px;
        height: 287px;
        li.active{
            color: #fff700;
        }
      
    }
    .dark-album{
        width:242px;
        height: 280px;
        background-color: white;
    }
}


.music-page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.list-items-song{
    font-family: "Rosarivo";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
color: #FFFFFF;


}
